# Ignore all content in the reddit/data directory
reddit/data/

youtube/data/*.json
reddit/data/*.json
# Ignorar todos los archivos .env en el proyecto
*.env

# Ignorar archivos .env en la carpeta Reddit
reddit/*.env

# Ignorar archivos .env en la carpeta Youtube
youtube/*.env

redditbyword